<%- include('header') -%>
<div class="box container">
    <p class="about-font">This is a ToDo List website created by me
        Technologies Used: 
        <ul class="list" type="none">
            <li>NodeJS</li>
            <li>EJS</li>
            <li>MongoDB</li>
            <li>mongoose</li>
            <li>& other npm modules</li>
        </ul>
    </p>
</div>
<%- include('footer') -%>